.container-fluid{
    width: 90%;
    max-width: 1400px;
    .row{
        align-items: center;
        display: flex;
        margin-bottom: 15px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.199);
        border-radius: 15px;
        .col-sm-5{
            text-align: center;
            img{
                width: 100%;
                object-fit: contain;
                border-radius: 15px;
            }
        }
    }
}