@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Ubuntu:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
}

/* ============== estilado general ============== */
body{
    @include fondoBody;
}

.contenedorTitulo{
    @include contenedorTitulo;
}

h1, h2, h3{
    @include tituloh1;
}

p, a{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: black;
}

.titulo1{
    @include tituloh1;
    border: 10px;
    padding: 20px;
}

.contenedorTitulo2{
    display: flex;
    justify-content: center;
    border: 1.5px solid rgb(17, 54, 17);
    background-color: rgba(187, 186, 106, 0.432);
    border-radius: 20px;
    .titulo2 {
        padding: 10px;
        margin-top: 10px;
    }
}

.descripciones {
    margin: 10px 50px;
    padding: 20px;
    text-align: justify;
}
/* ============== estilado general ============== */


/* ============== btn-wsp ============== */
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 40px;
    right: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    &:hover{
        text-decoration: none;
        background: #000000;
    }
}
/* ============== btn-wsp ============== */


/* ============== btn-gotop ============== */
.goTopBtn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    left: 30px;
    font-size: 45px;
    color: rgb(70, 70, 70);
    z-index: 100;
}
/* ============== btn-gotop ============== */
