/* ============== galeria de productos: cactus y suculentas ============== */
.productos{
    display: grid;
    width: 100%;
    min-height: 100vh;
    place-items: center;
}
/* ============== izquierda ==============*/
.izquierda{
    width: 80%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: linear-gradient(to left, goldenrod, green);
    .imgizquierda{
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .textoizquierda{
        display: flex;
        align-items: center;
        .contenidoizquierda{
            p{
                font-size: 16px;
                line-height: 26px;
                padding-bottom: 15px;
            }
        }
    }
}

/* ============== derecha ==============*/
.derecha{
    width: 80%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 50px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: linear-gradient(to right, goldenrod, green);
    .imgderecha{
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .textoderecha{
        display: flex;
        align-items: center;
        .contenidoderecha{
            p{
                font-size: 16px;
                line-height: 26px;
                padding-bottom: 15px;
            }
        }
    }
}

/* ============== galeria de productos: cactus y suculentas ============== */